* {
  font-family: "Inter", sans-serif;
}
.navbar {
  background-color: #00a4ff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.navbar-nav {
  padding-top: 15px;
}
.navbar-expand-lg {
  padding-bottom: 20px;
}
.navbar-brand {
  font-size: 43px;
  padding-left: 10px;
  padding-top: 15px;
}
.nav-item {
  padding: 10px;
}
.highlight {
  color: #00a4ff;
}
.col-xxl-7 {
  font-weight: 700;
  color: #01304a;
}
.sub-text {
  color: #01304a;
  font-weight: 500;
}
.list {
  list-style: none;
}
.mb-2 {
  padding-right: 30px;
}
.form-control {
  background: #EDF4F8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
}
